#titulo{
    color:#9AD4D6;
    font-size: 80px;
    width:100%;
    text-align: center;
    margin: 0px 0 100px 0;
    background-color:#102935;

}
#titulo::before{
    content: "🦠";
}

#dataBrazil{
    font-weight: bolder;
    text-align: left;
    margin: 60px 200px 0 40px;

}
#dataBrazil::before{
    content: url('https://api.iconify.design/emojione-v1:flag-for-brazil.svg?height=60');
    margin: 60px 0px 40px 0px;
}
#dateTodayDead{
    color:black;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0 0 0;
    padding: 10px 0 0 0;

}

#dateToday{
    color: black;
    font-style: italic;
    font-weight: bold;
    margin: 0px 0px 20px 0;

}

#dateTodayConfirmed{
    
    color:black;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin: 0 0 0 0;

}

#dateTodayRecovered{
    color:black;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin: 0 0 0 0;

}
.iconify{
    font-size: 40px;
}

#Footer{
    position: absolute;
    margin: 300px 0 0 0;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    text-align: center;

    
}
#github{    
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 300px 0 0 0;
  border:black solid 5px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
#github::before{
    content: url('https://api.iconify.design/logos:github-octocat.svg?height=30');
    vertical-align: -0.450em;
}
