#titulo{
    color:#9AD4D6;
    font-size: 80px;
    width:100%;
    text-align: center;
    margin: 0px 0 120px 0;
    background-color:#102935;

}
#titulo::before{
    content: "🦠";
    font-size: 70px;
}
body{

}
section{
    position: absolute;
    
    
}

#status{
     text-align: center; 
    border: black solid 2px;
    padding: 40px;
    margin: 20px 20px 20px 400px;
    
}
.textStatus{
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 30px 0;
}
#dataBrazil{
    font-weight: bolder;
    text-align: left;
    margin: 60px;

}
#dataBrazil::before{
    content: url('https://api.iconify.design/emojione-v1:flag-for-brazil.svg?height=60');
    /* margin: 60px 0px 40px 0px; */
}
#dateToday{
    color: black;
    font-style: italic;
    font-weight: bold;
     margin: 0px 0px 30px 0; 

}
#dateTodayDead{
    color:black;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
    margin:  0 0 0 0;

}



#dateTodayConfirmed{
    
    color:black;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin: 0 0 0 0;

}

#dateTodayRecovered{
    color:black;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    margin: 0 0 0 0;

}
.iconify{
    font-size: 40px;
    /* margin: 0 0px 0 100px; */
   
}

#Footer{
    margin: 900px 0 0 0;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
    text-align: center;

    
}
#github{    
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 300px 0 0 0;
  border:black solid 5px;
  text-align: center;
  padding: 10px 10px 10px 10px;
}
#github::before{
    content: url('https://api.iconify.design/logos:github-octocat.svg?height=30');
    vertical-align: -0.450em;
}
